# Add any directories, files, or patterns you don't want to be tracked by version control
log/
.idea/load_monitor.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/
/garden/garden.recycleview/
